*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#inp{
    width: 40%;
    height: 27px;
    margin-left: 27%;
    margin-top: 1%;
    margin-bottom: 2%;
    border: 1px #ccc solid;
    border-radius: 2px 0 0 2px;
    box-shadow: inset 0 1px 2px #eee;
    font-size: 17px;
}

#output{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    /* margin-left: 15%; */
    background-color: #f9f9f9;
    padding: 25px;
}

.video{
    flex: 0 1 22%;
    height: 160px;
    margin: 0 20px 20px;
}
.video iframe {
    width: 100%;
    height: 100%;
}
.logoTube{
    position: absolute;
    margin-left: -62%;
    width: 7%;
    height: 60px;

}
button{
    /* position: relative; */
    width: 5%;
    height: 32px;
    margin-left: -0.3%;
    border: 1px solid #d3d3d3;
    background-color: #f8f8f8;
    border: none;
    margin-top: 0.4%;
}
.lupa{
    width: 13px;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    color: #333;
}
.micro{
    position: absolute;
    margin-top: -0.6%;
    margin-left: 2%;
    width: 55px;
    height: 28px;
}
hr{
    background-color: #e5e5e5;
    border: 0 none;
    color: #e5e5e5;
    height: 1px;
}

div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div p .list {
    border: 1px solid grey;
    padding: 6px;
    /* border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%; */
}

#burger{
    position: absolute;
    width: 4%;
    height: 30px;
    margin-top: 1%;
}
 .divBurger{
     position: absolute;
     display: block;
     left: -100%;
     width: 17%;
     height: 400px;
     background-color: white;
 }

 .divBurgerActive{
     margin-top: 5%;
     left: 0%;
 }
 .home{
     width: 20%;
     height: 20px;
 }
 .text-b{
     font-size: 15px;
 }

 #home-icon {
    width: 35px;
    height: 35px;
}
.menu {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
}
.menu:hover {
    background-color: rgb(194, 194, 194);
}
h3 {
    font-weight: 500;
    margin-left: -3%;
}

#nav-icon {
    width: 35px;
    height: 35px;
}
#sub-icon {
    width: 35px;
    height: 35px;
}